<div class="plan-container">
  <div class="plan-menu">
    <app-module
      *ngFor="let module of modules"
      [id]="module.id"
      [text]="module.text"
      [title]="module.title"
      [imagePath]="module.imagePath" />
  </div>

  <div class="plan-day-container">
    <div class="plan-day-overflow-container">
      <div
        class="plan-day"
        *ngFor="let day of calendarData | keyvalue: originalOrder"
        dndDropzone
        (dndDrop)="onDrop($event, day.key)">
        <h2>{{ day.key }}</h2>
        <hr />
        <app-module
          *ngFor="let module of day.value"
          [id]="module.id"
          [title]="module.title"
          [text]="module.text"
          [imagePath]="module.imagePath" />
      </div>
    </div>
  </div>
</div>
