<div class="plan-container">
  <app-menu />

  <div class="plan-day-container">
    <div class="plan-day-overflow-container">
      <!--TODO: fix types-->
      <div
        class="plan-day"
        *ngFor="let day of calendarData | keyvalue: originalOrder"
        dndDropzone
        (dndDrop)="onDrop($event, day.key)">
        <h2>{{ day.key }}</h2>
        <hr />
        <app-module
          *ngFor="let module of day.value"
          [day]="day.key"
          [id]="module.id"
          [title]="module.title"
          [text]="module.text"
          [image]="module.image" />
      </div>
    </div>
  </div>
</div>
