.module-container {
  padding: 0.5rem;
  border-radius: 8px;
  border: solid #6ed4bf 2px;
  box-shadow: black 3px 3px 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 15rem;
  height: 10rem;

  span {
    margin-left: auto;
  }

  h3 {
    text-align: center;
  }

  .module-image {
    object-fit: scale-down;
    margin: 0 0.5rem 0.5rem 0;
    max-width: 5rem;
    height: auto;
    float: left;
  }

  div {
    overflow-wrap: anywhere;
    white-space: break-spaces;
  }
}
